<!DOCTYPE html>
<html lang="en">
    {% include "navbar.html" %}

    <head>
        <title>Basic Search Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <img src="../static/BigLogo.jpg" alt="Logo" height="130">
                <form action="/search" method="post">
                  <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <p class="text-muted small text-center">
                    Try searching for keywords, job titles, departments or locations.
                  </p>
                <p class="text-center">
                  <a href="{{ url_for('main.advancedSearch') }}" class="small">Advanced search</a>
                </p>
              </div>
            </div>
        </div>
      </body>

</html>
